/* =================== header style ====================== */
header{
    height: 75px;
    border-top-width: 3px;
    display: flex;
    flex-direction: column;
}
header > .header-border{
    height: 3px;
    background: rgb(75,175,71);
    background: linear-gradient(90deg, rgba(75,175,71,1) 26%, rgba(197,206,56,1) 100%);
}
.header-wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
.header-wrap > .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
}
.header-wrap > .logo-container > a > img{
    height: 37px;
    cursor: pointer;
    user-select: none;
}

/*  ripped-paper */
article {
    background: white;
    width: 100%;
    position: relative;
    user-select: none;
}
article::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 55px;
    width: 100%;
    left: 0;
    background: url('../img/ripped-paper.svg') bottom;
    background-size: 40%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.13));
}

/* ================== navbar style ================ */
.nav-bar{
    position: relative;
    z-index: 2;
    height: 40px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 45px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: #868686;
    transition: 0.3s;
}
.on{
    color: black;
    font-weight: 800;
}
.nav-link:hover{
    color: black;
}

/* =================== main style ===================  */
main{
    margin-top: -40px;
    height: 500px;
    background: rgba(0, 0, 0, 0.26);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container{
    margin-top: 30px;
    height: 350px;
    width: 550px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.103);
}
.response-container{
    height: 280px; /* 280 smaller, then 800 */ 
    width: 100%;
    background-color: #eeeeee;
    padding-top: 20px;
}

.response-subtitle{
    font-family: "Covered By Your Grace", cursive;
    color: rgba(221, 181, 0, 0.993);
    font-weight: 100;
    text-align: center;
    margin-bottom: 5px;

}
.response-title{
    font-family: 'poppins', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
.response-subtext{
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 16px;
}
.response-subtext span{
    color: green;
}

.data-analysis{
    background-color: white;
    width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.103);
}


/* =================== foooter style =================  */

.footer-container{
    height: 300px;
    width: 100%;
    background-color: #24231D;
}

.calculator-title{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    margin-bottom: 15px;
    color: #3a8638;

}

.calculator-title > span{
    text-transform: lowercase;
}
.lbl-question{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.863);
}
.input-question{
    height: 35px;
    width: 100%;
    outline: none;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.452);
}
.input-question:focus{
    border: 2px solid #4BAF47;
    box-shadow: 0px 0px 5px #4aaf4765;
}
.input-row{
    width: 100%;
    gap: 20px;
}
.input-col{
    width: 50%;
    margin-bottom: 15px;
}
.btn-default{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.btn-calculator{
    background-color: #4BAF47;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s all;
    margin-top: 5px;
}
.btn-calculator:hover{
    background-color: #3b8d38;
}



/* ================= modal =============  */
.modal-loader {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content-loader {
    background-color: transparent;
    margin: 250px auto;
    border: 1px solid #888;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  css portal loader https://www.cssportal.com/css-loader-generator/ */
.custom-loader {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#27e643 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#27e643);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
}
  
@keyframes s3{ 
    100%{transform: rotate(1turn)}
}