body {


    background-image :url("https://img.freepik.com/fotos-gratis/vista-superior-de-graos-frescos-organicos-com-cabelo-em-um-balde-de-pano-de-saco-com-graos-isolados-em-uma-mesa-de-madeira_141793-88792.jpg?t=st=1711037942~exp=1711041542~hmac=68e77d3b29157404edf729d0d5cfe678b31765fa0c61ca1be73a7a7d91d8cdd0&w=996");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
        

}

#container {

    width: 100%;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    
}

#parent {

    display: flex;
    background-color: rgba(37, 37, 37, 0.453);
    border: 2px solid;
    border-radius: 25px;
    border-color:rgba(37, 37, 37, 0.453) ;
    padding: 10px; /*expande as extremidades*/
    text-align:center;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    color:white
}

button:hover {

    background-color: green;
    border-radius: 5px;
}




